<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
    <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
        <div class="col-lg-4 d-flex align-items-center">
            <mat-card class="cardWithShadow boxed-auth">
                <mat-card-content class="p-32">
                    <div class="text-center">
                        <a [routerLink]="['/dashboard']">
                            <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
                        </a>
                    </div>

                    <form class="m-t-20" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <input type="hidden" formControlName="documentID">

                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Document Title</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                            <input matInput formControlName="title" />
                            <mat-error *ngIf="myForm.get('title')?.hasError('required')">
                                Title is required.
                            </mat-error>
                        </mat-form-field>
                        
                        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Document Content</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                            <input matInput formControlName="content" />
                            <mat-error *ngIf="myForm.get('content')?.hasError('required')">
                                Content is required.
                            </mat-error>
                        </mat-form-field>

                        <button mat-flat-button color="primary" class="w-100" type="submit"
                            [disabled]="myForm.invalid">Submit</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>