<div class="container-fluid">
  <div class="row justify-content-center"> <!-- Utilisation de la classe justify-content-center pour centrer le tableau -->
    <div class="col-md-9">
      <mat-card class="cardWithShadow">
        <mat-card-content class="p-24">

          <!-- Tableau des prix -->
          <div class="table-responsive m-t-16">
            <div class="table-container">
              <table class="table table-bordered table-lg"> <!-- Ajout de la classe table-lg pour agrandir le tableau -->
                <thead>
                <tr>
                  <th style="width: 10%">ID</th>
                  <th style="width: 30%">Description</th>
                  <th style="width: 20%">Valeur</th>
                  <th style="width: 20%">Actions</th> <!-- Nouvelle colonne pour les actions -->
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let prize of prizes">
                  <tr>
                    <td>{{ prize.idP }}</td>
                    <td>{{ prize.description }}</td>
                    <td>{{ prize.name }}</td>
                    <td>{{ prize.value }}</td>
                    <td>
                      <!-- Bouton pour supprimer le prix -->
                      <button mat-raised-button color="warn" (click)="deletePrize(prize.idP)">Supprimer</button>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Bouton pour ajouter un nouveau prix -->
          <div class="text-right">
            <button mat-raised-button color="primary" (click)="toggleAddForm()">Ajouter Prix</button>
          </div>

          <!-- Formulaire pour ajouter un nouveau prix (initiallement caché) -->
          <div *ngIf="showAddForm" class="mt-3">
            <mat-card class="cardWithShadow">
              <mat-card-content class="p-24">
                <form #addForm="ngForm" (ngSubmit)="addPrize(addForm.value)">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput name="description" [(ngModel)]="newPrize.description" required>
                  </mat-form-field>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Valeur</mat-label>
                    <input matInput type="number" name="value" [(ngModel)]="newPrize.value" required>
                  </mat-form-field>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Nom</mat-label>
                    <input matInput name="name" [(ngModel)]="newPrize.name" required>
                  </mat-form-field>
                  <!-- Ajoutez d'autres champs si nécessaire -->
                  <button mat-raised-button color="primary" type="submit">Ajouter</button>
                  <button mat-raised-button color="warn" type="button" (click)="cancelAdd()">Annuler</button>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
