<div class="container-fluid">

  <div class="row">


    <section class="section-padding col-lg-9 col-12 text-left ml-0">
      <!-- Barre de recherche -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Rechercher par nom" aria-label="Rechercher par nom" [(ngModel)]="searchTerm" (input)="filterCompetitions()">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="filterCompetitions()">Effacer</button>
        </div>
      </div>

      <!-- Boutons en haut de la section -->
      <!-- Boutons en haut de la section -->
      <div class="text-center mt-4">
        <button type="submit" mat-flat-button color="primary" (click)="filterOnline()" class="custom-buttonn blue-button">Online</button>
        <button type="submit" mat-flat-button color="primary" (click)="filterOffline()" class="custom-buttonn blue-button">Offline</button>
        <button type="submit" mat-flat-button color="primary" (click)="openAddCompetitionForm()" class="custom-buttonn blue-button">Add</button>
      </div>

      <br>
      <br>


      <div class="row">
        <ng-container *ngFor="let competition of filteredCompetitions">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card competition-card mb-4" [ngClass]="{'finished': isCompetitionFinished(competition)}">
              <div class="card-body text-center competition-item">
                <h3 class="main_nav_item"><strong>{{ competition.name }}</strong></h3>
                <p class="main_nav_item"><strong>Description :</strong> {{ competition.description }}</p>
                <p class="competition-info"><strong>Date de début :</strong> {{ competition.startDate | date:'mediumDate' }}</p>
                <p class="competition-info"><strong>Date de fin :</strong> {{ competition.endDate | date:'mediumDate' }}</p>
                <p class="competition-info"><strong>Lieu :</strong> {{ competition.location }}</p>
                <div class="actions">
                  <!-- Icône pour l'édition -->
                  <button class="btn custom-button btn-lg" (click)="editCompetition(competition.idC)">
                    <mat-icon class="custom-icon">edit</mat-icon>
                  </button>
                  <!-- Icône pour la suppression -->
                  <button class="btn custom-button btn-lg" (click)="deleteCompetition(competition.idC)">
                    <mat-icon class="custom-icon">delete</mat-icon>
                  </button>
                  <!-- Icône pour les badges -->
                  <button class="btn custom-button btn-lg" (click)="navigateToBadges(competition.idC)">
                    <mat-icon class="custom-icon">badge</mat-icon>
                  </button>
                  <button class="btn custom-button btn-lg" (click)="navigateToUsers(competition.idC)">
                    <mat-icon class="custom-icon">people</mat-icon>
                  </button>

                </div>



              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
  </div>
</div>
