.container{
    width:50%;
    height: 60%;
    margin-top: 85px;
    margin-left: 340px;
}

.form-control{
    width: 70%;
}

.panel-heading{
    color:rgb(199, 34, 34);
    background-color: rgb(234, 227, 227);
}
.btn-ok{
    background-color: rgb(199, 34, 34);
   color:aliceblue;
}