
    <app-header></app-header>
    <div class="row">
      <div class="col-md-3">
        <app-sidebar></app-sidebar>
      </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="competitionForm" (ngSubmit)="updateCompetition()">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nom de la compétition :</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="name" placeholder="Nom de la compétition">
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Description :</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <textarea matInput formControlName="description" placeholder="Description"></textarea>
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Date de début :</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="date" formControlName="startDate" placeholder="Date de début">
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Date de fin :</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="date" formControlName="endDate" placeholder="Date de fin">
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">En ligne :</mat-label>
            <mat-checkbox formControlName="isOnline" color="primary">En ligne</mat-checkbox>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Lieu :</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="location" placeholder="Lieu">
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Type de compétition :</mat-label>
            <mat-select formControlName="typeC" placeholder="Sélectionner le type" class="w-100" color="primary">
              <mat-option *ngFor="let type of competitionTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>

            <button type="submit" mat-flat-button color="primary" class="w-100 mt-3">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
